:root { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  width: 100%;
  height: 47px;
  align-items: center;
  justify-content: flex-end;
}

.header-links {
  display: none;
}

.menu-button {
  padding-right: 40px;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.background-main {
  position: absolute;
  background: url("images/header-illsutration-mobile1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  min-height: 100px;
}

.main-text {
  margin-top: 7.51rem;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  text-align: center;
  color: #172b4d;
  font-size: 1.41em;
  display: inline-block;
  align-items: center;
  padding: 0 34px;
  z-index: 100;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.colored-text {
  color: #36b37e;
  font-size: 1.11em;
  margin-top: 20px;
  display: inline-block;
}

.long-text {
  color: #42526e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  padding: 0 27px;
  margin-top: 2em;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

ul {
  list-style: none;
}

.social-icons a {
  margin: 5px 10px;
  font-size: 1.4em;
  text-decoration: none;
  color: #505f79;
}
