:root { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  width: 100%;
  height: 47px;
  align-items: center;
  justify-content: flex-end;
}

.header-links {
  display: none;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.background-main {
  position: absolute;
  background: url("images/header-illsutration-mobile1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
  min-height: 100px;
}

.main-text {
  margin-top: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 701;
  text-align: center;
  color: #172b4d;
  font-size: 2.51em;
  display: flex;
  align-items: center;
  padding: 0 34px;
  z-index: 100;
  flex-direction: column;
}

.colored-text {
  color: #36b37e;
  font-size: 31px;
  margin-top: 5px;
  display: inline-block;
  font-weight: 600;
}

.another-text {
  color: #36b37e;
  font-size: 1.51em;
  margin-top: 11px;
  display: inline-block;
  font-weight: 600;
}

.long-text {
  color: #172b4d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 401;
  font-size: 18px;
  line-height: 24px;
  padding: 0 27px;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

ul {
  list-style: none;
}

.social-icons a {
  margin: 5px 10px;
  font-size: 1.4em;
  text-decoration: none;
  color: #505f79;
}

.menu-button {
  padding-right: 25px;
}

.scroll {
  width: 40px;
  height: 40px;
  left: calc(50% - 40px / 2 + 0.5px);
  bottom: 4px;
  padding: 8px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  margin-top: 70px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
