@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Playfair+Display&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  width: 100%;
  height: 47px;
  align-items: center;
  justify-content: flex-end;
}

.header-links {
  position: fixed;
  left: -100%;
  top: 40px;
  gap: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  text-align: left;
  transition: 0.5s;
  height: 100em;
  z-index: 999;
  padding: 0 30px;
}

.header-link {
  margin: 16px 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #3a4a42;
}

.header-links.active {
  left: 0;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.background-main {
  position: absolute;
  background: url("images/header-illsutration-mobile1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
  min-height: 100px;
}

.main-text {
  margin-top: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 701;
  text-align: center;
  color: #172b4d;
  font-size: 2.51em;
  display: flex;
  align-items: center;
  padding: 0 34px;
  z-index: 100;
  flex-direction: column;
}

.colored-text {
  color: #36b37e;
  font-size: 31px;
  margin-top: 5px;
  display: inline-block;
  font-weight: 600;
}

.another-text {
  color: #36b37e;
  font-size: 1.51em;
  margin-top: 11px;
  display: inline-block;
  font-weight: 600;
}

.long-text {
  color: #172b4d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 401;
  font-size: 18px;
  line-height: 24px;
  padding: 0 27px;
  margin-top: 25px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

ul {
  list-style: none;
}

.social-icons a {
  margin: 5px 10px;
  font-size: 1.4em;
  text-decoration: none;
  color: #505f79;
}

.menu-button {
  padding-right: 2em;
}

.scroll {
  width: 40px;
  height: 40px;
  left: calc(50% - 40px / 2 + 0.5px);
  bottom: 4px;
  padding: 8px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  margin-top: 70px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.scroll:hover {
  scale: 1.2;
  transition: ease-in-out 0.3s;
}

.cards {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4px 2px;
  display: grid;
}

.card {
  background-color: #fff;
  width: 21em;
  display: flex;
  border: 1px solid #8f8f8f;
  border-radius: 11px;
  height: 474px;
  transition: ease 1s;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 29px;
  padding: 11px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  transform: scale(1.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 801;
  font-size: 19px;
  color: #3a4a42;
  margin-top: 19px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.card-img {
  display: flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex: 1.1;
  background: #ebf0ee;
  height: 199px;
  width: 21px;
}

.main-works {
  margin-top: 2.89rem;
  font-family: 'Inter', sans-serif;
  font-weight: 701;
  text-align: center;
  color: #172b4d;
  font-size: 41px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.main-works h1 {
  white-space: nowrap;
  font-size: 35px;
}

.line-image {
  padding-top: 10px;
}

.language-blocks {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 4px 2px;
  margin-top: 20px;
  background: #ebf0ee;
  color: #3a4a42;
  justify-content: space-between;
}

.language-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 5px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.language-blocks::before {
  content: '';
  flex-grow: 1;
}

.language-blocks::after {
  content: '';
  flex-grow: 1;
}

.see-project-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #36b37e;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 320px;
  height: 50px;
}

.see-project-btn:hover {
  background-color: #008552;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 1.2s ease, font-size 1.2s ease;
  transform: scale(1.1);
}

.main-text.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text.contact-text h1 {
  font-size: 35px;
  text-align: center;
  margin: 0 20px;
}

.about-card {
  background-color: #ebf0ee;
  box-sizing: border-box;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  padding: 16px;
  width: 280px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.about-img img {
  display: flex;
  max-width: 100%;
}

.about-li {
  display: flex;
  background-color: white;
  margin: 4px;
  padding: 12px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  text-align: center;
  align-items: center;
}

.about-ul {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 0 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  margin-top: 65px;
  width: 350px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-list {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
}

.box {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  height: 48px;
  padding: 16px;
  margin-bottom: 24px;
}

input::placeholder {
  color: #6b778c;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.text-area {
  color: #42526e;
  border: 1px solid #60c095;
  height: 114px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.mail {
  color: #42526e;
  margin-top: 57px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.footer {
  width: 100%;
  margin-top: 26px;
}

.breaker-foot {
  background-color: black;
  display: flex;
  height: 4px;
  border: 1px solid #d0d9d5;
  border-radius: 8px;
  padding: 3px 0;
  margin: 10px 113px;
  margin-top: 29px;
}

.button-wrap {
  width: 50%;
}

.view-cv {
  color: white;
  padding: 12px;
  gap: 10px;
  width: auto;
  height: 48px;
  background: #36b37f;
  border: none;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: ease 1s;
  margin-top: 30px;
  justify-content: center;
}

.view-cv:hover {
  background-color: #008552;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
}

.contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  position: relative;
}

.about-bg {
  position: absolute;
  display: grid;
  background-image:
    url("images/about-left-frame.svg"),
    url("images/about-right-frame.svg");
  background-position: 0 0%, 100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 336px;
  padding: 40px 18px;
}

.view-btn {
  color: white;
  padding: 12px;
  gap: 10px;
  width: auto;
  height: 48px;
  background: #36b37f;
  border: none;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: ease 1s;
  justify-content: center;
}

.view-btn:hover {
  background-color: #008552;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
}

.menu-toggle {
  display: none;
}

.about-card-content h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  color: #344563;
}
