.nav {
  display: flex;
  width: 100%;
  height: 47px;
  align-items: center;
  justify-content: flex-end;
}

.header-links {
  display: none;
}

.menu-button {
  padding-right: 40px;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.background-main {
  position: absolute;
  background: url("images/header-illsutration-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main-text {
  margin-top: 2.75rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  font-size: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 34px;
  z-index: 100;
}

.colored-text {
  color: #36b37e;
  font-size: 1.5em;
  margin-top: 6px;
}

.long-text {
  color: #42526e;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding: 0 27px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}

ul {
  list-style: none;
}

.social-icons a {
  margin: 5px 10px;
  font-size: 1.4em;
  text-decoration: none;
  color: #505f79;
}
